.keyboard-button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  margin: 4px;
  text-transform: capitalize;
  flex-shrink: 1;
}

.keyboard-button:nth-child(20),
.keyboard-button:nth-child(28) {
  width: 68px;
}

@media screen and (max-width: 40.5em) {
  .keyboard-button {
    width: 28px;
    height: 55px;
    margin: 2px;
  }
  .keyboard-button:nth-child(20),
  .keyboard-button:nth-child(28) {
  width: 40px;
}
}
.keyboard-button:hover {
  background-color: darkseagreen;
}
.keyboard-button.correct {
  background-color: green;
}

.keyboard-button.missplaced {
  background-color: #e38f22;
}

.keyboard-button.incorrect {
  background-color: darkslategray;
}

.keyboard-button:nth-child(11) {
  margin-left: 13px;
}

